.goback {
    display: block;
    position: fixed;
    top: 30px;
    left: 30px;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    background-color: #00d2d3;
    color: #fff;
    font-size: 30px;
}

.goback:hover {
    box-shadow: 0px 0px 15px 2px rgba(200, 214, 229, 1);
    color: #c8d6e5;
}

body {
    background-image: url("../images/dot-grid.webp");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#content { 
    padding: 20px;
    background-color: #00d2d3;
    width: 60%;
    height: 70%;
    border-radius: 10px;

}

.bigtitle {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: #fff;
}

form {
    margin-top: 40px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px 20px;
}

.grid label {
    grid-column: 1/2;
    font-size: 18px;
    text-align: center;
}

.grid input {
    grid-column: 2/3;
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}

.grid input[type=submit] {
    margin-top: 40px;
    grid-column: 1/3;
    width: 50%;
    cursor: pointer;
    padding: 10px 0;
}

.grid input[type=submit]:hover {
    background-color: #c8d6e5;
}