@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.menu {
    background-color: #00d2d3;
}

.container {
    width: 75%;
    height: 35%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.box {
    background-color: #00d2d3;
    border-radius: 10px;
}

.box h2 {
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 32px;
    margin-top: 30px;
}

.box .flex {
    margin-top: 10px;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex a {
    display: block;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    font-size: 24px;
    text-align: center;
}

.flex a:hover {
    background-color: #fff;
    color: #00d2d3;
}



